.footer{
    background-color: var(--container-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__container{
    
    padding: 2rem 0 6rem;
}

.footer__title{
    text-align: center;
    justify-content: center;
    color: var(--title-color);
    margin-bottom: 0.5rem;
}

.footer__subtitle , .footer__text{
    text-align: center;
    color: var(--subtitle-color);
}

.footer__list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0;
    list-style: none;
    column-gap: 1.25rem;
}

.footer__link{
    background-color: var(--title-color);
    color: var(--container-color);
    padding:0.5rem 0.75rem;
    border-radius: 0.5rem;
    text-decoration: none;
    display: inline;    
}

.footer__link:hover{
    background-color: var(--title-color);
}

.footer__copy{
    text-align: center;
    color: var(--subtitle-color);
    margin-bottom: 1rem;
    font-size: var(--small-font-size);
}